$fontSize100: 0.75rem; /* 12px */
$fontSize200: 0.875rem; /* 14px */
$fontSize300: 1rem; /* 16px */
$fontSize400: 1.25rem; /* 20px */
$fontSize500: 1.5rem; /* 24px */
$fontSize550: 2rem; /* 32px */
$fontSize600: 2.25rem; /* 36px */
$fontSize700: 3rem; /* 48px */

:export {
  fontSize100: $fontSize100;
  fontSize200: $fontSize200;
  fontSize300: $fontSize300;
  fontSize400: $fontSize400;
  fontSize500: $fontSize500;
  fontSize550: $fontSize550;
  fontSize600: $fontSize600;
  fontSize700: $fontSize700;
}
