// HOME PAGE

.main-nav li:hover.active {
  background-color: #183891;
  color: #e5e5e5;
}

#service-page,
#personal-care-page {
  .main-nav {
    position: relative;
    background-color: $normalColor;

    li,
    .logo-box p {
      color: $invertedColor;
    }

    li.active {
      color: $normalColor;
    }

    li:not(.active):hover {
      background-color: transparent;
    }
  }

  .content-area {
    padding-top: 2rem;
    
    h2 {
      font-size: 2rem;
      line-height: 3rem;
      margin-bottom: 30px;
    }
  }
  
}

.services-sec {
  .items {
    .service {
      &:hover {
        .desc {
          -webkit-line-clamp: inherit;
        }
      }

      .desc {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
    }
  }
}

// SERVICE PAGE


.service-wrapper {
  margin-bottom: 80px;

  .service-outer-cont {
    display: flex;
    margin-bottom: 35px;
    justify-content: space-between;

    .service-inner-cont {
      display: flex;
      gap: 30px;
      width: 70%;

      h3 {
        font-size: 1.5rem;
        line-height: 2.25rem;
        color: #000;
        font-weight: $fontWeightSemiBold;
      }

      p {
        font-size: 1rem;
        line-height: 1.5rem;
        color: #000;
        font-weight: $fontWeightRegular;
      }

      a {
        font-size: 0.75rem;
        line-height: 1.125rem;
        display: inline-flex;
        color: #183891;
        text-decoration: none;
        flex-direction: row;
        align-items: center;
        padding: 6px 16px;
        gap: 6px;
        border-radius: 6px;
        border: 1px solid #183891;
        font-weight: $fontWeightSemiBold;
        background: rgba(24, 56, 145, 0.1);
      }

      .care-services-cont {
        margin-top: 20px;
      }
    }

    .book-btn {
      text-align: center;

      a {
        font-size: 1rem;
        line-height: 1.5rem;
        text-decoration: none;

        &:first-child {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 10px;
          width: 200px;
          height: 60px;
          gap: 10px;
          color: #fff;
          background: #183891;
          border-radius: 6px;
          font-weight: $fontWeightSemiBold;
        }

        &:last-child {
          display: flex;
          width: 200px;
          height: 60px;
          justify-content: center;
          text-align: center;
          color: #000000;
          align-items: center;
          gap: 10px;
          font-weight: $fontWeightRegular;
        }
      }
    }
}

}

// LOGIN PAGE AND REGISTER

.login-wrapper {

    .login-col-1 {
        background-image: url('/images/login-img.png');
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 800px;
        position: relative;

        .login-logo {
            margin-top: 5%;
            margin-left: 8%;
        }

        .login-title {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            h1 {
                font-size: 3rem;
                line-height: 3.75rem;
                color: #fff;
                font-weight: $fontWeightSemiBold;
            }
    
            p {
                font-size: 1.5rem;
                line-height: 2.25rem;
                color: #fff;
                font-weight: $fontWeightLight;
            }
        }


        .login-socmed {
            display: flex;
            gap: 30px;
            position: absolute;
            bottom: 4%;
            left: 8%;

            a {
                font-size: 0.875rem;
                line-height: 1.313rem;
                color: #fff;
                display: flex;
                gap: 10px;
                align-items: center;
                text-decoration: none;
                font-weight: $fontWeightLight;
            }
        }
    }

    display: flex;
    .login-col-1 {
        background-color: rgba(24, 56, 145, 0.9);
    }

    .login-col-2 {
        position: relative;
        background: $normalColor;
        width: calc(100% - 800px);
        .login-menu {
            display: flex;
            gap: 20px;
            justify-content: end;
            margin-top: 5%;
            margin-right: 8%;
            a {
                font-size: $fontSize300;
                line-height: $fontSize500;
                color: $invertedColor;
                font-weight: $fontWeightSemiBold;
                text-decoration: none;
            }
        }

        .login-cont {
            width: 540px;
            margin: auto;
            margin-top: 3%;
            h2 {
                font-size: $fontSize550;
                line-height: $fontSize650;
                color: $invertedColor;
            }

            p {
                font-size: $fontSize500;
                line-height: $fontSize600;
                font-weight: $fontWeightLight;
            }

            .divider {
                background-color: #E9E9E9;
                position: relative;
                height: 2px;
                margin-top: 20px;
                margin-bottom: 20px;

                p {
                    font-size: $fontSize200;
                    line-height: $fontSize400;
                    font-weight: $fontWeightRegular;
                    position: absolute;
                    top: -2px;
                    bottom: 0;
                    margin: auto;
                    left: 0;
                    right: 0;
                    display: table;
                    justify-content: center;
                    background-color: $normalColor;
                    padding: 0px 10px;
                    text-transform: capitalize;
                }
            }

            .login-form {
                .input-cont {
                    margin-bottom: 10px;
                    label {
                        font-size: $fontSize250;
                        line-height: $fontSize450;
                        color: $invertedColor;
                        font-weight: $fontWeightSemiBold;
                        margin-bottom: 5px;
                        display: block;
                    }


                }
                .forgot-pass {
                    display: flex;
                    justify-content: space-between;
                    
                    div {
                        label {
                            font-size: $fontSize250;
                            line-height: $fontSize450;
                            color: $invertedColor;
                            font-weight: $fontWeightRegular;
                        }

                        p {
                            font-size: $fontSize250;
                            line-height: $fontSize450;
                            color: $accentColor100;
                            font-weight: $fontWeightRegular;
                        }
                    }
                }

                .no-account {
                    font-size: $fontSize250;
                    line-height: $fontSize450;
                    font-weight: $fontWeightLight;

                    a {
                        font-size: $fontSize250;
                        line-height: $fontSize450;
                        font-weight: $fontWeightSemiBold;
                        text-decoration: none;
                    }
                }
            }

            .login-copyright {
                position: absolute;
                bottom: 4%;
                right: 8%;
                p {
                    font-size: $fontSize100;
                    line-height: $fontSize400;
                    color: $invertedColor;
                    font-weight: $fontWeightRegular;
                }
            }
        }
    }
}

// PERSONAL CARE SERVICE


.personal-care-wrapper {

  background: #E5E5E5;
  padding-top: 1%;
  padding-bottom: 4%;

  .container {

    .back {
      font-size: $fontSize400;
      line-height: $fontSize550;
      color: $invertedColor;
      font-weight: $fontWeightSemiBold;
      text-decoration: none;
      display: flex;
      gap: 10px;
      align-items: center;
    }

    .personal-inner-cont {
      display: flex;
      margin-top: 2%;
      .p-col-1 {

        width: 30%;
        .pc-price {
          display: flex;
          gap: 10px;
          margin-bottom: 15px;

          a {
            font-size: $fontSize400;
            line-height: $fontSize550;
            color: $accentColor100;
            font-weight: $fontWeightSemiBold;
            text-decoration: none;
          }

          span {
            font-size: $fontSize400;
            line-height: $fontSize550;
            color: $accentColor100;
          }
        }

        h1 {
          font-size: $fontSize600;
          line-height: $fontSize700;
        }
      }

      .p-col-2 {

        width: 70%;

        .service-desc {
          margin-bottom: 3%;
          p {
            font-size: $fontSize400;
            line-height: $fontSize550;
            color: $invertedColor;
            font-weight: $fontWeightLight;
          }
        }

        .service-list {
          .sub-title {
            font-size: $fontSize400;
            line-height: $fontSize550;
            color: $invertedColor;
            font-weight: $fontWeightRegular;
          }

          ul {

            padding-left: 18px;
            margin-bottom: 50px;

            li {
              font-size: $fontSize350;
              line-height: 27px;
              color: $invertedColor;
              font-weight: $fontWeightLight;
              list-style-type: decimal;
              padding-left: 10px;

              &::marker {
                font-size: $fontSize350;
                line-height: 27px;
                color: $accentColor100;
                font-weight: $fontWeightSemiBold;
              }
            }
          }

          .personal-care-btn {
            font-size: $fontSize300;
            line-height: $fontSize500;
            color: $normalColor;
            font-weight: $fontWeightSemiBold;
            display: flex;
            height: 60px;
            text-decoration: none;
            align-items: center;
            justify-content: center;
            background: #183891;
            border-radius: 6px;
          }
        }
      }
    }
  }
}
