// HOME PAGE

.main-nav li:hover.active {
  background-color: #183891;
  color: #e5e5e5;
}

#service-page,
#personal-care-page,
#get-quote-page {
  .main-nav {
    position: relative;
    background-color: $normalColor;

    li,
    .logo-box p,
    i {
      color: $invertedColor;
    }

    li.active {
      color: $normalColor;
    }

    li:not(.active):hover {
      background-color: transparent;
    }
  }

  .content-area {
    padding-top: 2rem;

    @media(max-width: 480px) {
      padding-top: 6rem;
    }

    .container {

      @media(max-width: 1400px) {
        padding-left: 25px;
        padding-right: 25px;
      }

      @media(max-width: 480px) {
        width: 100%;
      }
      
      h2 {
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 30px;
  
        @media(max-width: 480px) {
          font-size: 1.5rem;
          margin-bottom: 12px;
        }
      }
    }
    
  }
  
}

// .mobile-timepicker {
//   display: none;
// }

.booking-options {

  .list-services {

    .filter-selected {
      p {
        font-size: $fontSize400;
        line-height: $fontSize550;
        color: $invertedColor;
        font-weight: $fontWeightSemiBold;
        text-align: left;

        @media(max-width: 1400px) {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 1.125rem;
        }

        @media(max-width: 480px) {
          font-size: $fontSize200;
          line-height: $fontSize500;
        }
      }

      span {
        font-size: $fontSize200;
        line-height: $fontSize400;
        color: $invertedColor;
        font-weight: $fontWeightLight;
        text-align: left;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        @media(max-width: 480px) {
          font-size: 0.625rem;
          line-height: $fontSize350;
        }
      }
    }

    .vs__dropdown-toggle{
      height: 70px;
      background: #F5F5F5;
      border: 1px solid #E9E9E9;
      border-radius: 6px;

      @media(max-width: 480px) {
        height: 60px;
      }

      .vs__actions {
        svg {
          fill: $invertedColor;
        }
      }
    }
    ul {
      background-color: #F5F5F5;
      padding: 0px 0;
      max-height: max-content;
      min-width: 500px;
      overflow: hidden;
      border-radius: 6px;

      @media(max-width: 480px) {
        min-width: 100%;
      }
  
      li {
        padding: 0;
        padding: 15px;
        white-space: normal;
        
        h4 {
          font-size: $fontSize400;
          line-height: 30px;
          color: $invertedColor;
          font-weight: $fontWeightSemiBold;
          margin-bottom: 10px;

          @media(max-width: 480px) {
            font-size: 0.875rem;
            line-height: 1rem;
          }
        }

        p {
          font-size: $fontSize200;
          line-height: $fontSize450;
          color: $invertedColor;
          font-weight: $fontWeightLight;

          @media(max-width: 480px) {
            font-size: 0.75rem;
            line-height: 1.063rem;
          }
        }
  
        &:hover {
          background-color: $normalColor;
          color: $invertedColor;
  
        }
      }
    }
  }

  .home-datepicker {
    border-radius: 6px;
    background-color: $normalColor;

    .date-lbl {
      text-align: left;
      display: block;
      margin-left: 13%;
      padding-top: 6px;
      font-size: $fontSize300;
      line-height: $fontSize500;
      color: $invertedColor;
      font-weight: $fontWeightSemiBold;

      @media(max-width: 1400px) {
        font-size: 0.875rem;
      }

      @media(max-width: 480px) {
        margin-left: 10%;
      }
    }

    .selected-date {
      text-align: left;
      padding-left: 13%;
      padding-top: 1px;
      font-size: $fontSize400;
      line-height: 1.875rem;
      color: $invertedColor;
      font-weight: $fontWeightRegular;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      @media(max-width: 1400px) {
        font-size: 1rem;
      }

      @media(max-width: 480px) {
        font-size: 0.75rem;
        line-height: $fontSize500;
        padding-left: 10%;
      }
    }

    .mx-icon-calendar {
      left: -53px;
      left: 10px;
      right: auto;
      top: 18px;
      font-size: 14px;

      @media(max-width: 1400px) {
        left: 7px;
      }

      @media(max-width: 480px) {
        left: 10px;
      }

      svg {
        fill: $invertedColor;
      }
    }
  }



  // .time-picker {
  //   .time-picker-cont {
  //     display: flex;

  //     .start-cont {
  //       width: 50%;

  //       button {
  //         font-size: $fontSize400;
  //         line-height: 1.875rem;
  //         color: $invertedColor;
  //         font-weight: $fontWeightRegular;
  //         background-color: transparent;
  //         border: 1px solid $primaryColor;
  //       }
  //     }

  //     .end-cont {
  //       width: 50%;
  //     }
  //   }
  // }

}

.mx-datepicker-popup,
.mx-datepicker-inline {
  border-radius: 6px;


  .mx-datepicker-content {
    .mx-datepicker-body {
      .mx-calendar-panel-date {
        width: 360px;
        background-color: $primaryColor;

        @media(max-width: 480px) {
          width: 340px;
        }

        .mx-calendar-header {
          .mx-btn-icon-double-left,
          .mx-btn-icon-double-right {
            display: none;
          }

          .mx-calendar-header-label {
            text-align: left;
            display: block;

            button {
              font-size: $fontSize250;
              color: $invertedColor;
              font-weight: $fontWeightSemiBold;
            }
          }

          .mx-btn-icon-left {
            position: absolute;
            right: 13%;
          }

          button {
            i {
              &::before {
                width: 12px;
                height: 12px;
                color: $invertedColor;
                border-width: 3px 0 0 3px;
              }
            }
          }
        }

        .mx-calendar-content {
          .mx-table-date {
            thead {
              tr {
                th {
                  font-size: 10px;
                  font-weight: $fontWeightSemiBold;
                  color: $invertedColor;

                  
                  @media(max-width: 480px) {
                    font-size: 0.625rem !important;
                  }
                }
              }
            }

            tbody {
              tr {

                .not-current-month {
                  div {
                    color: #ececec;
                  }
                }

                .today {
                  background-color:$accentColor100;
                  border-radius: 6px;

                  div {
                    color: $normalColor;
                  }
                }

                td {
                  div {
                    font-size: $fontSize200;
                    color: $invertedColor;
                    font-weight: $fontWeightSemiBold;

                    @media(max-width: 480px) {
                      font-size: 0.75rem;
                    }
                  }
                }

              }
            }
          }
        }
      }
    }

    .mx-datepicker-footer {
      background-color: #F5F5F5;
      border-top: none;
      display: flex;
      gap: 15px;
      padding: 10px 30px;

      button {

        width: 50%;
        cursor: pointer;

       

        &:first-child {
          font-size: $fontSize250;
          color: $invertedColor;
          font-weight: $fontWeightSemiBold;
          background: #ECECEC;
          border: none;
          padding: 8px 0;
          border-radius: 6px;

          @media(max-width: 480px) {
            font-size: 0.75rem;
          }
      
        }

        &:last-child {
          font-size: $fontSize250;
          color: $normalColor;
          font-weight: $fontWeightSemiBold;
          background: $accentColor100;
          border: none;
          padding: 8px 0;
          border-radius: 6px;

          @media(max-width: 480px) {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}

.services-sec {
  .items {
    .service {
      &:hover {
        .desc {
          -webkit-line-clamp: inherit;
        }
      }

      .desc {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;

        @media(max-width: 480px) {
          -webkit-line-clamp: inherit;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

// SERVICE PAGE


.service-wrapper {
  margin-bottom: 80px;

  @media(max-width: 480px) {
    margin-bottom: 30px;
  }

  .service-outer-cont {
    display: flex;
    margin-bottom: 35px;
    justify-content: space-between;
    background-color: $normalColor;
    padding: 22px;
    border-radius: 12px;

    @media(max-width: 480px) {
      padding: 14px;
    }

    .service-inner-cont {
      display: flex;
      gap: 30px;
      width: 100%;

      @media(max-width: 991px) {
        display: block;
      }

        .service-img {
          width: 25%;

          @media(max-width: 991px) {
            width: 30%;
          }

          @media(max-width: 600px) {
            width: 60%;
          }

          @media(max-width: 480px) {
            width: 100%;
          }


          img {
            width: 100%;
          }
        }

        .services-avail {
          width: 75%;

          @media(max-width: 991px) {
            width: 100%;
            margin-top: 10px;
          }

          .service-option {

            p {
              font-size: $fontSize300;
              line-height: $fontSize500;
              color: $invertedColor;
              font-weight: $fontWeightSemiBold;
              margin-bottom: 0;
              margin-top: 10px;
            }
          }

          .caregiver-cont {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

            @media(max-width: 767px) {
              display: block;
            }

            .caregivers {
              display: flex;
              align-items: center;

              img {
                margin-left: -5%;

                @media(max-width: 767px) {
                  margin-left: -2%;
                }

                @media(max-width: 480px) {
                  margin-left: -5%;
                }

                &:first-child {
                  margin-left: 0;
                }
              }

              p {
                font-size: $fontSize300;
                line-height: $fontSize450;
                color: $accentColor100;
                font-weight: $fontWeightSemiBold;
                margin-left: 20px;
                padding-right: 0;

                @media(max-width: 480px) {
                  font-size: 0.75rem;
                }
              }
            }

            .book-btn {
              display: flex;
              flex-flow: row-reverse;
              gap: 10px;

              @media(max-width: 767px) {
                justify-content: left;
                margin-top: 20px;
              }

              a {
                &:first-child {
                  font-size: $fontSize200;
                  line-height: $fontSize500;
                  text-decoration: none;
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  padding: 10px;
                  width: 200px;
                  height: 60px;
                  gap: 10px;
                  color: #fff;
                  background: #183891;
                  border-radius: 6px;
                  border: none;
                  font-weight: $fontWeightSemiBold;
                  cursor: pointer;

                  @media(max-width: 480px) {
                    font-size: 0.75rem;
                    width: 180px;
                    height: 50px;
                  }
                }

                &:last-child {
                  @media(max-width: 480px) {
                    font-size: 0.75rem;
                    width: 180px;
                    height: 50px;
                  }
                }
              }
            }
          }
        }

        h3 {
          font-size: 1.5rem;
          line-height: 2.25rem;
          color: #000;
          font-weight: $fontWeightSemiBold;

          @media(max-width: 480px) {
            font-size: 1.063rem;
          }
        }
  
        p {
          font-size: 1rem;
          line-height: 1.5rem;
          color: #000;
          font-weight: $fontWeightRegular;
          padding-right: 34%;

          @media(max-width: 991px) {
            padding-right: 0;
          }

          @media(max-width: 480px) {
            font-size: 0.813rem;
            line-height: 1.125rem;
          }
        }

        .care-services-cont {
          margin-top: 20px;
          display: flex;
          align-items: center;
          gap: 10px;

          @media(max-width: 600px){
            display: block;
          }

          
          a {
            font-size: 0.75rem;
            line-height: 1.125rem;
            display: inline-flex;
            color: #183891;
            text-decoration: none;
            flex-direction: row;
            align-items: center;
            padding: 6px 16px;
            gap: 6px;
            border-radius: 6px;
            border: 1px solid #183891;
            font-weight: $fontWeightSemiBold;
            background: rgba(24, 56, 145, 0.1);

            @media(max-width: 600px){
              display: inline-block;
            }

            @media(max-width: 500px){
             margin-top: 10px;
            }

            @media(max-width: 480px){
              display: inline-flex;
              font-size: 0.563rem;
              padding: 4px 12px;
            }
  
  
            &:last-child {
              background-color: transparent;
              border: none;
            }
          }

        }

    }
}

}

// LOGIN PAGE AND REGISTER

.login-wrapper {

    .login-col-1 {
        background-image: url('/images/login-img.png');
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 800px;
        position: relative;

        .login-logo {
            margin-top: 5%;
            margin-left: 8%;
        }

        .back {
          position: absolute;
          right: 8%;
          top: 6%;
          display: flex;
          align-items: center;
          gap: 10px;
          color: $normalColor;
        }

        .login-title {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            h1 {
                font-size: 3rem;
                line-height: 3.75rem;
                color: #fff;
                font-weight: $fontWeightSemiBold;
            }
    
            p {
                font-size: 1.5rem;
                line-height: 2.25rem;
                color: #fff;
                font-weight: $fontWeightLight;
            }
        }


        .login-socmed {
            display: flex;
            gap: 30px;
            position: absolute;
            bottom: 20px;
            left: 8%;

            a {
                font-size: 0.875rem;
                line-height: 1.313rem;
                color: #fff;
                display: flex;
                gap: 10px;
                align-items: center;
                text-decoration: none;
                font-weight: $fontWeightLight;
            }
        }
    }

    display: flex;
    .login-col-1 {
        background-color: rgba(24, 56, 145, 0.9);
    }

    .login-col-2 {
        position: relative;
        background: $normalColor;
        width: calc(100% - 800px);
        .login-menu {
            display: flex;
            gap: 20px;
            justify-content: end;
            margin-top: 5%;
            margin-right: 8%;
            a {
                font-size: $fontSize300;
                line-height: $fontSize500;
                color: $invertedColor;
                font-weight: $fontWeightSemiBold;
                text-decoration: none;
            }
        }

        .login-header-logo {
          position: relative;

          .back {
            position: absolute;
            right: 8%;
            top: 6%;
            display: flex;
            align-items: center;
            gap: 10px;
            color: $normalColor;
  
            @media(max-width: 991px) {
              top: 0;
              bottom: 0;
            }
          }
        }

        .login-cont {
            width: 540px;
            margin: auto;
            margin-top: 3%;

            .login-socmed {
              margin-top: 5%;
              margin-bottom: 5%;
            }

            h2 {
                font-size: $fontSize550;
                line-height: $fontSize650;
                color: $invertedColor;
            }

            p {
                font-size: $fontSize500;
                line-height: $fontSize600;
                font-weight: $fontWeightLight;
            }

            .divider {
                background-color: #E9E9E9;
                position: relative;
                height: 2px;
                margin-top: 20px;
                margin-bottom: 20px;

                p {
                    font-size: $fontSize200;
                    line-height: $fontSize400;
                    font-weight: $fontWeightRegular;
                    position: absolute;
                    top: -2px;
                    bottom: 0;
                    margin: auto;
                    left: 0;
                    right: 0;
                    display: table;
                    justify-content: center;
                    background-color: $normalColor;
                    padding: 0px 10px;
                    text-transform: capitalize;
                }
            }

            .login-form {
                .input-cont {
                    margin-bottom: 10px;
                    label {
                        font-size: $fontSize250;
                        line-height: $fontSize450;
                        color: $invertedColor;
                        font-weight: $fontWeightSemiBold;
                        margin-bottom: 5px;
                        display: block;
                        line-height: 1.3;

                        span {
                          color: $accentColor100;
                        }

                        @media(max-width: 480px) {
                          font-size: $fontSize100;
                        }
                    }

                    .for-cont,
                    .input-cont,
                    .for-input {
                      position: relative;

                      p {
                        position: absolute;
                        right: 4%;
                        top: 0;
                        bottom: 0;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        color: #CACACA;
                        font-size: $fontSize200;
                        font-weight: $fontWeightRegular;
                      }
                    }


                }
                .forgot-pass {
                    display: flex;
                    justify-content: space-between;
                    
                    div {
                        label {
                            font-size: $fontSize250;
                            line-height: $fontSize450;
                            color: $invertedColor;
                            font-weight: $fontWeightRegular;

                            @media(max-width: 480px) {
                              font-size: $fontSize100;
                            }
                        }

                        p {
                            font-size: $fontSize250;
                            line-height: $fontSize450;
                            color: $accentColor100;
                            font-weight: $fontWeightRegular;

                            @media(max-width: 480px) {
                              font-size: $fontSize100;
                            }
                        }
                    }
                }

                .no-account {
                    // font-size: $fontSize250;
                    font-size: 20px !important;
                    line-height: $fontSize450;
                    font-weight: $fontWeightLight;

                    @media(max-width: 480px) {
                      font-size: 0.75rem !important;
                      padding-bottom: 0 !important;
                    }

                    a {
                        // font-size: $fontSize250;
                        font-size: 20px !important;
                        line-height: $fontSize450;
                        font-weight: $fontWeightSemiBold;
                        text-decoration: none;
                        @media(max-width: 480px) {
                          font-size: 0.75rem !important;
                        }
                    }
                }
            }

            .login-copyright {
                position: absolute;
                bottom: 4%;
                right: 8%;
                p {
                    font-size: $fontSize100;
                    line-height: $fontSize400;
                    color: $invertedColor;
                    font-weight: $fontWeightRegular;
                }
            }
        }
    }
}

// PERSONAL CARE SERVICE


.personal-care-wrapper {

  background: #E5E5E5;
  padding-top: 1%;
  padding-bottom: 4%;

  @media(max-width: 991px) {
    padding-top: 3%;
    padding-bottom: 6%;
  }

  @media(max-width: 767px) {
    padding-top: 15%;
  }

  @media(max-width: 600px) {
    padding-top: 16%;
  }

  @media(max-width: 480px) {
    padding-top: 6rem;
  }



  .container {

    .personalcare-banner {

      margin-top: 2%;
      margin-bottom: 3%;

      @media(max-width: 480px) {
        margin-top: 4%;
      }

      img {
        border-radius: 6px;
      }
    }

    .personal-inner-cont {
      display: flex;
      margin-top: 2%;

      @media(max-width: 991px) {
        display: block;
      }

      .p-col-1 {

        width: 30%;

        @media(max-width: 991px) {
          width: 60%;
        }

        @media(max-width: 600px) {
          width: 100%;
        }

        .pc-price {
          display: flex;
          gap: 10px;
          margin-bottom: 15px;

          a {
            font-size: $fontSize400;
            line-height: $fontSize550;
            color: $accentColor100;
            font-weight: $fontWeightSemiBold;
            text-decoration: none;

            @media(max-width: 767px) {
              font-size: $fontSize300;
            }

            @media(max-width: 480px) {
              font-size: $fontSize200;
            }
          }

          span {
            font-size: $fontSize400;
            line-height: $fontSize550;
            color: $accentColor100;
          }
        }

        h1 {
          font-size: $fontSize600;
          line-height: $fontSize700;

          @media(max-width: 767px) {
            font-size: 1.563rem;
          }

          @media(max-width: 480px) {
            font-size: 1rem;
          }
        }
      }

      .p-col-2 {

        width: 70%;

        @media(max-width: 991px) {
          width: 100%;
          margin-top: 30px;
        }

        @media(max-width: 480px) {
          margin-top: 0px;
        }

        .service-desc {
          margin-bottom: 3%;
          p {
            font-size: $fontSize400;
            line-height: $fontSize550;
            color: $invertedColor;
            font-weight: $fontWeightLight;

            @media(max-width: 767px) {
              font-size: 14px;
              line-height: 20px;
            }

            @media(max-width: 480px) {
              font-size: $fontSize100;
              line-height: $fontSize400;
            }
          }
        }

        .service-list {
          .sub-title {
            font-size: $fontSize400;
            line-height: $fontSize550;
            color: $invertedColor;
            font-weight: $fontWeightRegular;

            @media(max-width: 767px) {
              font-size: 14px;
              line-height: 20px;
            }

            @media(max-width: 480px) {
              font-size: $fontSize100;
              line-height: $fontSize400;
              margin-top: 20px;
              margin-bottom: 20px;
            }
          }

          ul {

            padding-left: 18px;
            margin-bottom: 30px;

            li {
              font-size: $fontSize350;
              line-height: 27px;
              color: $invertedColor;
              font-weight: $fontWeightLight;
              list-style-type: decimal;
              padding-left: 10px;

              @media(max-width: 480px) {
                font-size: $fontSize100;
                line-height: $fontSize400;
              }

              &::marker {
                font-size: $fontSize350;
                line-height: 27px;
                color: $accentColor100;
                font-weight: $fontWeightSemiBold;

                @media(max-width: 480px) {
                  font-size: $fontSize100;
                  line-height: $fontSize400;
                }
              }
            }
          }
        }
      }
    }
  }
}

// CONTACT PAGE

.contact-wrapper {
  background-color: $accentColor100;
  .contact-banner {
    background-image: url('/images/contact-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 22em;
  }

  .contact-inner-cont {
    display: flex;
    padding-top: 6%;
    padding-bottom: 10%;

    .contact-col-1 {
      width: 50%;
      padding-right: 11%;

      h2 {
        font-size: $fontSize550;
        line-height: $fontSize700;
        color: $normalColor;
        font-weight: $fontWeightSemiBold;
        margin-bottom: 15px;
      }

      p {
        font-size: $fontSize400;
        line-height: 30px;
        color: $normalColor;
        font-weight: $fontWeightLight;
        margin-bottom: 45px;
      }

      .contacts {
        display: flex;
        flex-wrap: wrap;
        gap: 18px;
        justify-content: space-between;

        a {
          font-size: $fontSize400;
          line-height: 30px;
          color: $normalColor;
          font-weight: $fontWeightLight;
          text-decoration: none;
          display: flex;
          gap: 10px;
        }
      }

      .contact-img {
        position: absolute;
        left: 0;
        bottom: -16%;
      }
    }

    .contact-col-2 {
      width: 50%;

      .input-cont {
        margin-bottom: 20px;

        .input-inner-cont {
          display: flex;
          gap: 2%;

          div {
            width: 48%;
          }
        }

        label {
          font-size: $fontSize250;
          line-height: $fontSize450;
          color: $normalColor;
          font-weight: $fontWeightRegular;
          margin-bottom: 5px;
          display: block;

          span {
            color: #E68A25;
          }
        }

        input,
        textarea {
          color: $normalColor;

          &::placeholder {
            font-size: $fontSize300;
            line-height: $fontSize500;
            font-weight: $fontWeightRegular;
            color: rgba(255, 255, 255, 0.2);
          } 
        }

        textarea {
          height: 150px !important;
        }
      }
    }
  }
}

// GET QUOTE PAGE

.get-quote-wrapper {

  padding-top: 2%;
  padding-bottom: 5%;

  @media(max-width: 480px) {
    padding-top: 23%;
  }

  .mx-datepicker-inline {
    width: 100%;

    .mx-datepicker-main {
      background-color: transparent;

      .mx-datepicker-content {
        .mx-datepicker-body {
          .mx-calendar-panel-date {
            width: 100%;
            background-color: transparent;

            .mx-calendar-header {
              padding-right: 5%;
              .mx-calendar-header-label {
                button {
                  font-size: $fontSize500;
                  line-height: $fontSize550;

                  @media(max-width: 480px) {
                    font-size: 0.75rem;
                  }

                }
              }
            }

            .mx-calendar-content {
              .mx-table-date {
                thead {
                  tr {
                    th {
                      font-size: 0.625rem !important;
                      line-height: $fontSize400;
                      color: $accentColor100;
                      font-weight: $fontWeightSemiBold;
                    }
                  }
                }

                tbody {
                  .mx-date-row {
                    td {
                      height: 35px;
                      div {
                        font-size: 0.625rem !important;
                        line-height: $fontSize550;
                        font-weight: $fontWeightRegular;
                      }
                    }
                  }
                }
              }
            }
          }

        }
      }
      

    }
  }

  h1 {
    font-size: $fontSize550;
    line-height: $fontSize700;
    margin-top: 3%;
    margin-bottom: 5%;

    @media(max-width: 480px) {
      font-size: $fontSize400;
    }
  }

  h2 {
    font-size: $fontSize400;
    line-height: 1.875rem;
    font-weight: $fontWeightSemiBold;
    color: $invertedColor;
    margin-bottom: 3%;

    @media(max-width: 480px) {
      font-size: 1rem;
    }
  }

  .quote-inner-cont {
    display: flex;
    gap: 40px;

    @media(max-width: 480px) {
      display: block;
    }

    .quote-service {
      width: 30%;

      @media(max-width: 480px) {
        width: 100%;
        margin-bottom: 15%;
      }

      div {
        position: relative;
        padding-left: 3%;
        margin-bottom: 6%;

        h3 {
          @media(max-width: 480px) {
            font-size: 0.813rem;
          }
        }
        
        p {
          font-size: $fontSize100;
          line-height: $fontSize350;
          font-weight: $fontWeightLight;
          color: $invertedColor;

          @media(max-width: 480px) {
            font-size: 0.625rem;
            line-height: $fontSize300;
          }
        }
      }
    }


    .quote-date {
      width: 40%;

      @media(max-width: 480px) {
        width: 100%;
      }

      .mx-datepicker-inline {
        .mx-datepicker-main {
          .mx-datepicker-content {
            .mx-datepicker-body {
              .mx-range-wrapper {
                display: block;

                .mx-calendar-panel-date{
                  
                  &:first-child {
                    margin-bottom: 50px;
                  }

                  .mx-calendar-content {
                    .mx-table-date {
                      tbody {
                        tr {
                          td {
                            div {
                              font-size: $fontSize300;
                              font-weight: $fontWeightSemiBold;
                              
                              @media(max-width: 480px) {
                                font-size: 0.938rem;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .quote-time {
      width: 30%;

      @media(max-width: 480px) {
        width: 100%;
        margin-top: 30px;
      }

      .custom-timepicker {
        width: 100%;
        padding-left: 10%;
        margin-bottom: 20px;

        input {
          height: 35px !important;
        }

        i {
          left: 10px;
        }

        
      }

      .time-picker {
        margin-bottom: 20px;
      }

      .central-time {
        font-size: $fontSize200;
        line-height: $fontSize400;
        color: $invertedColor;
        font-weight: $fontWeightRegular;

        @media(max-width: 480px) {
          font-size: 0.75rem;
        }
      }
    }
  }

  .book-btn {
    display: flex;
    justify-content: end;
    gap: 15px;
    flex-direction: row-reverse;
    margin-top: 15%;
  }
}


// QUOTE DIALOG

.dg-backdrop {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.dg-container {
  .dg-content-cont {
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    transform: inherit;
    align-items: center;

    @media(max-width: 480px) {
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      transform: inherit;
    }

    .dg-main-content {
      max-width: 650px;
      padding: 0;
      background-color: transparent;

      @media(max-width: 480px) {
        width: 92%;
      }

      .quote-dialog {
        .dialog-header {
          background-image: url('/images/dialog-bg.png');
          background-color: $accentColor100;
          padding: 20px;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          width: 100%;
          height: 100%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          h1 {
            font-size: $fontSize550;
            line-height: $fontSize700;
            color: $normalColor;
            font-weight: $fontWeightSemiBold;

            @media(max-width: 480px) {
              font-size: 1.563rem;

            }
          }

          p {
            font-size: $fontSize200;
            line-height: $fontSize450;
            color: $normalColor;
            font-weight: $fontWeightLight;

            @media(max-width: 480px) {
              font-size: 0.75rem;
              line-height: 0.75rem;
            }
          }
        }

        .dialog-body {
          padding: 20px;
          background-color: $normalColor;
          border-bottom-left-radius: 6px;
          border-bottom-right-radius: 6px;

          .send-quote {
            p {
              font-size: $fontSize300;
              line-height: $fontSize500;
              color: $invertedColor;
              font-weight: $fontWeightRegular;

              @media(max-width: 480px) {
                font-size: 0.875rem;
                line-height: 1.25rem;
              }
  
              a {
                color: $accentColor100;
                text-decoration: none;
  
                &:hover {
                  text-decoration: none;
                }
              }
            }
  
            .email-cont {
              margin-top: 15px;
              margin-bottom: 20px;
  
              label {
                font-size: $fontSize250;
                line-height: $fontSize450;
                color: $invertedColor;
                font-weight: $fontWeightSemiBold;
                margin-bottom: 10px;
                display: block;

                @media(max-width: 480px) {
                  font-size: $fontSize100;
                }
              }
  
              .text-box {
                border-color: rgba(0, 0, 0, 0.1);

                @media(max-width: 480px) {
                  height: 50px;
                  font-size: $fontSize200;
                }
              }
            }
  
            .book-btn {
              display: flex;
              flex-direction: row-reverse;
              gap: 20px;

              button {
                @media(max-width: 480px) {
                  font-size: 0.75rem;
                  width: 180px;
                  height: 50px;
                }
              }
  
              a {
  
                &:first-child {
                  width: 160px;
                }
                
                &:last-child {
                  width: 200px;

                  @media(max-width: 480px) {
                    font-size: 0.75rem;
                    width: 180px;
                    height: 50px;
                  }
                }
              }
            }

          }

          .quote-sent {
            p {
              font-size: $fontSize500;
              line-height: $fontSize600;
              color: $invertedColor;
              font-weight: $fontWeightRegular;
              text-align: center;
              margin-top: 5%;

              @media(max-width: 480px) {
                font-size: 1rem;
                line-height: 1.563rem;
              }
            }

            button {
              font-size: $fontSize300;
              line-height: $fontSize500;
              color: $normalColor;
              font-weight: $fontWeightSemiBold;
              width: 162px;
              background-color: $accentColor100;
              border: none;
              padding: 10px;
              border-radius: 6px;
              display: flex;
              justify-content: center;
              margin-left: auto;
              margin-top: 10%;
              cursor: pointer;

              @media(max-width: 480px) {
                font-size: 12px;
                width: 130px;
                padding: 5px;
              }
            }
          }

        }
      }
    }
  }
}