@use './abstracts' as *;
@import './reset.scss';
@import 'vue-select/dist/vue-select.css';
@import 'vue2-datepicker/index.css';
@import 'aos/dist/aos.css';
@import './custom-style.scss';
@import './transition.scss';
@import './components/index.scss';
@import './contact_us.scss';
@import '~static/font/style.css';

@font-face {
  font-family: 'icomoon';
  src: url('~/static/font/fonts/icomoon.eot?1ezf5a');
  src: url('~/static/font/fonts/icomoon.eot?1ezf5a#iefix')
      format('embedded-opentype'),
    url('~/static/font/fonts/icomoon.ttf?1ezf5a') format('truetype'),
    url('~/static/font/fonts/icomoon.woff?1ezf5a') format('woff'),
    url('~/static/font/fonts/icomoon.svg?1ezf5a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  font-family: $fontBody;
  overflow-x: hidden;
  background-color: $neutralColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $fontWeightSemiBold;
}

h1 {
  font-size: $fontSize700;
  line-height: 60px;
}

h2 {
  font-size: $fontSize600;
}

h3 {
  font-size: $fontSize500;
}

p {
  line-height: 24px;
}

.container-fluid {
  width: 100%;
  max-width: 1024px;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;

  @media (max-width: 1300px) {
    padding-left: 2% !important;
    padding-right: 2% !important;
  }

  @media (max-width: 767px) {
    padding-left: 3% !important;
    padding-right: 3% !important;
  }

  @media (max-width: 480px) {
    width: 90%;
  }
}

section {
  padding: 4rem 0;
}

.mobile-header {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px 30px;

  @media (max-width: 767px) {
    display: block;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      &:first-child {
        flex: 1;

        img {
          width: 10%;
        }
      }
      
      &:last-child {
        display: flex;
        gap: 20px;

        p {
          font-size: 0.875rem;
          color: $normalColor;
          font-weight: $fontWeightRegular;
        }
      }
    }
  }
}

.csr {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    transition: all ease 0.3s;
  }
}

.sidebar-menu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 40%;
  z-index: 9999;
  background-color: #fff;
  box-shadow: -4px 1px 20px 3px #d8d9de;

  .close-sidebar {
    position: absolute;
    right: 10%;
    top: 4%;
  }

  .login-row {
    padding: 0;
    margin-top: 25%;

    li {
      padding: 12px 0;
      list-style: none;
      padding-left: 20%;
      border-bottom: 1px solid #f1f1f1;

      p {
        font-size: $fontSize400;
        line-height: 30px;
        color: $invertedColor;
        text-transform: capitalize;
        font-weight: $fontWeightSemiBold;
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 15px;

        @media (max-width: 480px) {
          font-size: 0.938rem;
        }
      }
    }
  }

  .menus {
    padding: 0;
    margin-top: 0%;
    li {
      list-style: none;

      font-size: $fontSize400;
      line-height: 30px;
      color: $invertedColor;
      font-weight: $fontWeightSemiBold;
      display: flex;
      align-items: center;
      justify-content: left;
      gap: 15px;
      text-transform: uppercase;
      padding: 20px 0;
      padding-left: 20%;

      @media (max-width: 480px) {
        font-size: 0.938rem;
      }
    }

    .mobile-menu-active {
      background-color: $accentColor100;
      color: $normalColor;
    }
  }
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0rem 5rem;
  position: absolute;
  width: 100%;
  z-index: 2;

  @media (max-width: 1200px) {
    padding: 0rem 2rem;
  }

  @media (max-width: 767px) {
    display: none;
  }

  .logo-box {
    display: flex;
    align-items: center;
    color: $neutralColor;
    gap: 1.5rem;
    cursor: pointer;

    img {
      width: 18%;

      @media (max-width: 991px) {
        width: 15%;
      }
    }

    p {
      font-size: $fontSize550;
      font-weight: $fontWeightSemiBold;
      color: $neutralColor;

      @media (max-width: 1200px) {
        font-size: 1.563rem;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }

  ul.nav-item {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: stretch;
  }

  li {
    list-style: none;
    font-size: $fontSize300;
    font-weight: $fontWeightSemiBold;
    text-decoration: none;
    color: $neutralColor;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 2rem 1.3rem;
    transition: all ease 0.3s;
    letter-spacing: 1px;
    height: 100px;

    @media (max-width: 1200px) {
      font-size: 0.875rem;
    }

    @media (max-width: 991px) {
      font-size: 0.75rem;
    }

    span {
      p {
        i.icon-profile {
          font-size: 22px;
          position: relative;
          top: -2px;
        }
      }
    }

    &.active {
      background-color: $accentColor100;
    }

    &:hover {
      background-color: $neutralColor;
      color: $accentColor100;

      i {
        color: $accentColor100;
      }
    }

    span {
      position: relative;
      top: 10px;
    }
  }

  .nav-menu-icons {
    margin-left: 2rem;
    display: flex;
    gap: 1rem;

    i {
      font-size: 22px;
      color: $neutralColor;
    }
  }

  .guest-nav p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.top-banner {
  padding: 0rem;
  position: relative;

  .banner-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;

    .slogan {
      color: $neutralColor;

      h1 {
        @media (max-width: 480px) {
          font-size: 1.75rem;
          line-height: 43px;
        }
      }

      h3 {
        font-weight: $fontWeightLight;
        margin-top: 1rem;

        @media (max-width: 480px) {
          font-size: 0.75rem;
          line-height: 1rem;
          margin-top: 5px;
        }
      }
    }
  }
}

.booking-options {
  display: flex;
  align-items: stretch;
  width: 75%;
  gap: 1rem;
  margin-top: -7%;
  margin-left: auto;
  margin-right: auto;
  color: $invertedColor !important;

  @media (max-width: 1200px) {
    width: 90%;
  }

  @media (max-width: 991px) {
    margin-top: 0;
    background-color: $normalColor;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    flex-wrap: wrap;
  }

  @media (max-width: 480px) {
    margin-top: 0;
    display: block;
    background-color: $normalColor;
    width: 100%;
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
  }

  .list-services {
    width: 30%;

    @media (max-width: 991px) {
      width: 40%;
    }

    @media (max-width: 600px) {
      width: 100%;
    }

    .vs__dropdown-toggle {
      padding: 0.2rem 1rem;
      border-radius: 6px !important;

      @media (max-width: 480px) {
        padding: 0.4rem 1rem;
      }

      svg {
        color: $invertedColor !important;
      }
    }
  }

  .home-datepicker,
  .time-picker {
    width: 20%;

    @media (max-width: 991px) {
      width: 25%;
    }

    @media (max-width: 600px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  #vs1__listbox {
    margin-top: 0.2rem !important;
  }

  .mx-datepicker {
    width: 20%;
    height: 70px;

    @media (max-width: 991px) {
      width: 25%;
      background: #f5f5f5;
      border: 1px solid #e9e9e9;
    }

    @media (max-width: 600px) {
      width: 100%;
      background: #f5f5f5;
      border: 1px solid #e9e9e9;
      border-radius: 6px;
      margin-top: 4%;
      margin-bottom: 4%;
    }

    @media (max-width: 480px) {
      height: 60px;
    }

    .mx-input-wrapper {
      height: 100%;
      input {
        height: 100%;
      }
    }
  }
}

.introducing-sec {
  background-color: $neutralColor;
  padding: 0;

  .banner {
    width: 100%;
    background-repeat: no-repeat;
    height: 70vh;
    background-image: url(/images/who-img.webp);
    background-size: cover;
    background-position: center center;
    color: $neutralColor;

    .content {
      background: rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: end;
      height: 100%;
      padding: 4rem 0;

      h1 {
        font-size: $fontSize550;
        line-height: $fontSize700;

        @media (max-width: 480px) {
          font-size: $fontSize500;
          line-height: $fontSize550;
        }
      }

      p {
        font-size: $fontSize250;
        line-height: $fontSize450;
      }
    }

    .container {
      flex: 1;

      @media (max-width: 480px) {
        flex: inherit;
      }
    }
  }

  .items {
    display: flex;
    padding: 5rem 0 10rem 0;
    gap: 6rem;

    @media (max-width: 900px) {
      padding: 5rem 0 4rem 0;
      flex-wrap: wrap;
      gap: 2rem;
    }

    @media (max-width: 480px) {
      display: block;
      padding: 2rem 0 1rem 0;
    }

    div {
      margin-bottom: 30px;

      @media (max-width: 900px) {
        text-align: center;
      }

      h3 {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        margin-bottom: 2rem;

        @media (max-width: 900px) {
          justify-content: center;
        }

        @media (max-width: 1200px) {
          font-size: 1.25rem;
        }

        @media (max-width: 480px) {
          font-size: $fontSize300;
          line-height: $fontSize500;
          justify-content: left;
          margin-bottom: 1rem;
        }

        img {
          @media (max-width: 480px) {
            width: 16%;
          }
        }
      }

      p {
        font-size: $fontSize300;
        line-height: $fontSize500;
        color: $invertedColor;
        font-weight: $fontWeightLight;

        @media (max-width: 1200px) {
          font-size: 0.875rem;
        }

        @media (max-width: 480px) {
          font-size: $fontSize200;
          line-height: 21px;
          text-align: left;
        }
      }
    }
  }
}

.top-banner {
  width: 100%;
  background-repeat: no-repeat;
  height: 80vh;
  background-image: url(/images/hero-img.webp);
  background-size: cover;
  background-position: center center;
}

.services-sec {
  background-color: $normalColor;
  margin-top: 3%;

  @media (max-width: 1700px) {
    margin-top: 2%;
  }

  @media (max-width: 1440px) {
    margin-top: 0;
  }

  @media (max-width: 1440px) {
    padding-bottom: 1px;
  }

  @media (max-width: 480px) {
    padding-top: 2rem;
    margin-top: 0;
  }

  h1 {
    @media (max-width: 1200px) {
      font-size: 2.5rem;
    }

    @media (max-width: 480px) {
      font-size: $fontSize500;
      line-height: 30px;
      margin-bottom: 20px;
    }
  }

  .items {
    display: flex;
    margin: 3rem -2rem 6rem -2rem;
    cursor: pointer;

    @media (max-width: 480px) {
      display: block;
      margin: 0;
    }

    @media (max-width: 767px) {
      display: block;
    }

    .title {
      margin-bottom: 1rem;

      @media (max-width: 1200px) {
        font-size: 0.938rem;
      }

      @media (max-width: 480px) {
        font-size: $fontSize300;
        line-height: $fontSize500;
      }
    }

    .price {
      font-size: $fontSize300;
      color: $accentColor100;
      font-weight: $fontWeightBold;
    }

    .desc {
      font-size: $fontSize300;
      margin-bottom: 3rem;

      @media (max-width: 1200px) {
        font-size: 0.938rem;
        margin-bottom: 0;
      }

      @media (max-width: 767px) {
        margin-bottom: 20px;
      }

      @media (max-width: 480px) {
        font-size: $fontSize200;
        line-height: 1.313rem;
      }
    }

    .service {
      transition: all ease 0.3s;
      padding: 2rem;
      min-width: calc(100% / 3);

      @media (max-width: 480px) {
        min-width: 100%;
        padding: 0;
        margin-bottom: 40px;
      }

      > img {
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 6px;

        @media (max-width: 480px) {
          display: none;
        }
      }

      &:hover {
        background-color: $primaryColor;
      }

      &:hover .actions {
        display: block;
      }

      .actions {
        display: none;
        transition: all ease 0.3s;

        @media (max-width: 767px) {
          display: block;
        }
        .btn:first-child {
          margin-bottom: 0.8rem;
        }

        .plain {
          @media (max-width: 480px) {
            display: none;
          }
        }
      }
    }
  }
}

.newsletter-sec {
  background-color: $accentColor100;
  color: $normalColor;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url(/images/blue-bg.jpg);
  background-size: cover;

  .text-box {
    color: $normalColor !important;
  }

  @media (max-width: 480px) {
    padding: 50px 0;
  }

  > div {
    display: flex;
    gap: 10rem;
    padding: 5rem 0;
    justify-content: space-between;

    @media (max-width: 900px) {
      padding: 0rem 0;
      align-items: center;
    }

    @media (max-width: 767px) {
      gap: 5rem;
    }

    @media (max-width: 480px) {
      display: block;
    }

    h2 {
      font-size: $fontSize550;
      line-height: $fontSize550;
      margin-bottom: 15px;

      @media (max-width: 900px) {
        font-size: 1.563rem;
      }

      @media (max-width: 480px) {
        font-size: 1.25rem;
        margin-bottom: 0;
      }
    }

    p {
      font-size: $fontSize200;
      line-height: $fontSize400;
      margin-bottom: 20px;

      @media (max-width: 900px) {
        font-size: 0.75rem;
      }
    }
  }

  .email-box {
    display: flex;
    gap: 0.5rem;

    @media (max-width: 480px) {
      display: block;
    }

    input {
      @media (max-width: 480px) {
        margin-bottom: 10px;
        height: 50px;
        color: $normalColor;
        font-size: 0.75rem;
      }

      &::placeholder {
        font-size: 0.75rem;
      }
    }

    button {
      @media (max-width: 480px) {
        width: 100%;
        height: 50px;
      }
    }
  }
}

.testimonial-sec {
  background-image: url(/images/qoute.png);
  background-repeat: no-repeat;
  padding: 7rem 0;
  background-color: $normalColor;
  background-position: left 92%;

  @media (max-width: 900px) {
    padding: 4rem 0;
  }

  @media (max-width: 480px) {
    padding: 4rem 0;
  }

  .container {
    display: flex;
    gap: 8rem;

    @media (max-width: 900px) {
      display: block;
    }

    @media (max-width: 480px) {
      display: block;
    }

    div:first-child {
      flex: 0 0 25em;
    }
  }

  h1 {
    position: relative;

    @media (max-width: 900px) {
      margin-bottom: 20px;
    }

    @media (max-width: 1200px) {
      font-size: 2.5rem;
    }

    @media (max-width: 480px) {
      font-size: $fontSize500;
      line-height: 30px;
      margin-bottom: 28px;
    }
  }

  h1::after {
    content: '';
    width: 70px;
    height: -8px;
    padding: 6px;
    background-color: $accentColor100;
    position: absolute;
    top: -15px;
    left: 0;
    border: 50%;
    border-radius: 5px;
  }

  .testimonial {
    margin-bottom: 2rem;

    h3 {
      @media (max-width: 1200px) {
        font-size: 1.25rem;
      }
    }

    small {
      font-size: $fontSize200;
      color: $secondaryColor;
      font-size: 0.875;
      margin-bottom: 1.2rem;
      display: block;
    }

    p {
      font-size: $fontSize300;
      font-weight: $fontWeightLight;

      @media (max-width: 1200px) {
        font-size: 0.875rem;
      }
    }
  }
}

footer {
  padding-bottom: 30px;
  background-color: $normalColor;

  h3 {
    margin-bottom: 1rem;

    @media (max-width: 991px) {
      font-size: 0.938rem;
    }
  }

  a {
    text-decoration: none;
    color: $invertedColor;
  }

  .link-items {
    padding: 7rem 0rem 4rem 0rem;
    display: flex;

    @media (max-width: 480px) {
      display: block;
      padding: 3rem 0rem 4rem 0rem;
    }
  }

  .footer-logo {
    flex: 0 0 30em;

    @media (max-width: 991px) {
      flex: 0 0 25em;
    }

    @media (max-width: 767px) {
      flex: 0 0 20em;
    }

    .content {
      width: 50%;
      text-align: center;

      @media (max-width: 767px) {
        width: 70%;
      }

      @media (max-width: 480px) {
        margin: auto;
        width: 65%;
      }
    }

    img {
      padding: 0;
      width: 70%;
      margin: 0 auto;
      margin-bottom: 1rem;
    }

    .company-title {
      font-size: $fontSize550;
      font-weight: $fontWeightSemiBold;

      @media (max-width: 991px) {
        font-size: 1.75rem;
      }

      @media(max-width: 480px) {
        font-size: $fontSize500;
      }
    }

    p:last-child {
      font-size: $fontSize300;

      @media(max-width: 480px) {
        font-size: 0.813rem;
      }
    }
  }

  .footer-links {
    display: flex;
    width: 100%;
    gap: 7rem;

    @media (max-width: 1200px) {
      gap: 3rem;
      flex-wrap: wrap;
    }

    @media (max-width: 480px) {
      display: block;
      margin-top: 40px;
    }

    > div {
      flex: 1;

      @media (max-width: 1200px) {
        width: 36%;
        flex: auto;
      }

      @media (max-width: 767px) {
        width: 50%;
      }

      @media (max-width: 480px) {
        margin-bottom: 20px;
        width: 100%;
      }

      h3 {
        @media (max-width: 480px) {
          font-size: $fontSize400;
          line-height: $fontSize450;
        }
      }

      p {
        margin-bottom: 1rem;
        display: flex;
        align-items: start;
        gap: 0.6rem;

        @media (max-width: 991px) {
          font-size: 0.938rem;
        }

        @media (max-width: 480px) {
          font-size: $fontSize200;
          line-height: 1.875rem;
          padding-left: 12px;
          margin-bottom: 5px;
        }
      }
    }
  }

  .all-right-reserved {
    text-align: center;

    p {
      font-size: $fontSize100;
      line-height: $fontSize350;
      color: $invertedColor;
      font-weight: $fontWeightRegular;

      @media (max-width: 480px) {
        font-size: 0.625rem;
        line-height: $fontSize350;
        font-weight: $fontWeightRegular;
      }
    }
  }
}

.float-messenger {
  padding: 2rem;
  position: fixed;
  background-color: $accentColor100;
  right: 1%;
  bottom: 2%;
  border-radius: 50%;

  @media (max-width: 480px) {
    padding: 1rem;
  }
}

// form custom css
form > div:first-child {
  width: 100% !important;
}

// spinner
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.uc-spinner {
  position: relative !important;
  width: inherit;
  color: transparent !important;
  &:after {
    content: '';
    position: absolute;
    border: 4px solid #fff;
    border-bottom: 4px solid transparent;
    animation: spin 0.5s linear infinite;
    -webkit-animation: spin 1s linear infinite;
    z-index: 999;
    display: block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  &.black {
    &:after {
      content: '';
      position: absolute;
      border: 4px solid #000;
      border-bottom: 4px solid transparent;
      animation: spin 0.5s linear infinite;
      -webkit-animation: spin 1s linear infinite;
      z-index: 999;
      display: block;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}

// notif
.vue-notification-group {
  width: 100% !important;
  max-width: 500px !important; 
  @media (max-width: 550px) {
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto;
  }
}

.vue-notification-group .notification-title {
  font-size: 1.1rem;
}

.vue-notification-group .notification-content {
  font-size: 0.85rem;
}

.vue-notification-group .vue-notification-template {
  padding: 25px 20px;
}
