@use '../abstracts' as *;

.btn {
  font-weight: $fontWeightSemiBold;
  height: 60px;
  border: none;
  width: 200px;
  border-radius: 6px;
  color: $accentColor100;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  
  &.block {
    width: 100%;
  }
  
  &.accent {
    background-color: $accentColor100;
    color: $neutralColor;
  }

  &.tile {
    border-radius: 0px;
  }

  &.lg {
    //css for large button
  }

  &.md {
    //css for medium button
  }

  &.full {
    height: 100%;
  }

}

.google-btn {
  font-size: $fontSize300;
  line-height: $fontSize500;
  color: $invertedColor;
  font-weight: $fontWeightSemiBold;
  background: #F5F5F5;
  border-radius: 6px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  margin-top: 7%;
  margin-bottom: 7%;
}

.login-btn {
  font-size: $fontSize400;
  line-height: $fontSize550;
  text-transform: uppercase;
  color: $normalColor;
  font-weight: $fontWeightSemiBold;
  width: 100%;
  height: 60px;
  background: #183891;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.personal-care-btn {
  font-size: $fontSize300;
  line-height: $fontSize500;
  color: $normalColor;
  font-weight: $fontWeightSemiBold;
  display: flex;
  height: 60px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background: #183891;
  border-radius: 6px;
}

.back {
  font-size: $fontSize400;
  line-height: $fontSize550;
  color: $invertedColor;
  font-weight: $fontWeightSemiBold;
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
}

.send-btn {
  font-size: $fontSize400;
  line-height: 30px;
  text-transform: uppercase;
  color: $invertedColor;
  font-weight: $fontWeightSemiBold;
  text-decoration: none;
  background-color: $normalColor;
  border-radius: 6px;
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
}