@use '../abstracts' as *;

.btn {
  font-weight: $fontWeightSemiBold;
  height: 60px;
  border: none;
  width: 200px;
  border-radius: 6px;
  color: $accentColor100;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  
  &.block {
    width: 100%;
  }
  
  &.accent {
    background-color: $accentColor100;
    color: $neutralColor;
  }

  &.tile {
    border-radius: 0px;
  }

  &.lg {
    //css for large button
  }

  &.md {
    //css for medium button
  }

  &.full {
    height: 100%;
  }
}