@use '../abstracts' as *;

.error-msg {
  input {
    border: 1px solid red !important;
  }

  span {
    font-size: $fontSize100;
    color: red;
  }
}

.selected-quote {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 3px;
    background-color: $accentColor100;
  }
}
