@use '../abstracts' as *;

.text-box {
  outline: none;
  box-shadow: none;
  height: 50px;
  font-size: 1rem;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  padding-left: 1rem;
  border-radius: 5px;
  color: $invertedColor;

  @media (max-width: 991px) {
    height: 50px;
    font-size: 17px;
  }

  @media(max-width: 480px) {
    font-size: 0.75rem !important;
    height: 45px !important;
    color: $invertedColor !important;
  }

  &::placeholder {
    color: $normalColor;
    font-size: 0.75rem !important;
  }

  &.sm {
    // css for small text box

  }

  &.md {
    // css for medium text box
    height: 60px;
    @media (max-width: 991px) {
      height: 50px;
    }
    @media (max-width: 480px) {
      height: 45px;
    }
  }

  &.lg {
    // css for large text box
    height: 70px;
  }

  &.full-width {
    width: 100%;
  }
}
