@use '../abstracts' as *;

.text-box {
  outline: none;
  box-shadow: none;
  height: 60px;
  font-size: 1.2rem;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
  padding-left: 1rem;
  width: 100%;
  border-radius: 5px;
  color: $invertedColor;
  
  &::placeholder {
    color: $normalColor;
  }

  &.sm {
    // css for small text box
  }

  &.md {
    // css for medium text box
  }

  &.lg {
    // css for large text box
  }
}