@use '../abstracts' as *;

.text-box {
  outline: none;
  box-shadow: none;
  height: 60px;
  font-size: 1.2rem;
  background-color: transparent;
  border: 1px solid $normalColor;
  padding-left: 1rem;
  width: 100%;
  border-radius: 5px;
  color: $normalColor;
  
  &::placeholder {
    color: $normalColor;
  }
}